<%- include("partials/header.ejs") %>


<div class="contentPageTitle container ">

    <h1 ><%= selectedPost.title %></h1>


</div>
   
<div class="contentPage container ">

    <p class="date"><%=selectedPost.date %> </p>
    <p class="author"><%=selectedPost.name %> </p>
    <p mx-5 px-5><%= selectedPost.content %></p>
    
</div>

 


<%- include("partials/footer.ejs") %>