<%- include("partials/header.ejs") %>


<div class="contentPageTitle container ">

    <h1 ><%= selectedPost.title %></h1>


</div>
   
<div class="contentPage container ">

    <p class="date"><%=selectedPost.date %> </p>
    <p class="author"><%=selectedPost.name %> </p>
    <p mx-5 px-5><%= selectedPost.content %></p>
    
</div>

<div class="container my-4">
    <div class="btn-container">
        <a href="/delete" class="btn btn-danger rounded-pill">Delete</a>
        <a href="/edit" class="btn btn-edit rounded-pill">Edit</a>
    </div>
</div>

  


<%- include("partials/footer.ejs") %>