<%- include("partials/header.ejs") %>


<div class="contentPageTitle container ">

    <h1 ><%= selectedPost.title %></h1>


</div>
   
<div class="contentPage container ">

    <p class="date"><%=selectedPost.date %> </p>
    <p class="author"><%=selectedPost.name %> </p>
    <p mx-5 px-5><%= selectedPost.content %></p>
    
</div>

<div class="container my-4">
    <div class="btn-container">
        <form method="post" action="/delete">
            <button type="submit" class="btn btn-danger rounded-pill">Delete</button>
        </form>
        <form method="post" action="/edit">
            <button type="submit" class="btn btn-edit rounded-pill">Edit</button>
        </form>
    </div>
</div>

  


<%- include("partials/footer.ejs") %>